.notes{
    font-size: 12px;
    border: solid;
    width: 650px;
    padding-left: 10px;
    text-align: left;
}
p{
    font-family: Montserrat;
    text-align: center;
}
.Model{
    font-size: 70px;
    margin-bottom: 12px;
}
.Order{
    font-size: 24px;
}