.notes{
    font-size: 12px;
    border: solid;
    width: 700px;
    padding-left: 10px;
}
.flexDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.div12a1{
    background-color: lightblue;
    width: 200px;
}
.div12a2{
    background-color: lightpink;
    width: 75px;
}
.div12b1{
    background-color: lightblue;
    width: 50px;
}
.div12b2{
    background-color: lightpink;
    flex: 1;
}
.div12b3{
    background-color: lightblue;
    width: 75px;
}
.flexdiv12c{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.div12c{
    background-color: lightpink;
    width:50px;
}
.flexDiv12d{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: gray;
    height: 50px;
    align-items: center;
    border-width: 1px;
    margin-bottom: 20px;
}
.containerDiv12e{
    margin-bottom:20px;
    border-radius:4px;
    box-shadow: 0 0 4px gray;
}
.row12e{
    font-family: arial;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
}
.notification{
    justify-content: end;
    font-family: Arial;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 20px;
    background-color: rgb(46, 92, 243);
    color: white;
}
.row12g{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 20px;
}
.profilePic{
    width:70px;
    border-radius: 50px;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 20px;
}
.name{
    font-weight: bold;
    display: inline-block;
    margin: 0;
}
.description{
    color: gray;
    margin: 0;
    width: 300px;
}
.popular{
    color: gray;
    margin: 0;
    font-size: 14px;
}
.follow{
    cursor: pointer;
    color: white;
    background-color: rgb(22, 148, 231);
    border-radius: 4px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.container12f{
    display: flex;
    flex-direction: row;
    background-color: rgb(116, 79, 150);
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.searchbar12f{
    border-radius: 20px;
    border:none;
    width: 500px;
    padding-left: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    outline: none;
}
.download12f{
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: rgb(116, 79, 150);
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}