.notes{
    font-size: 12px;
    border: solid;
    width: 600px;
    padding-left: 10px;
}
.subscribe-button {
    background-color: rgb(197, 0, 0);
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity, 0.15s;
}
.subscribe-button:hover {
    opacity: 0.75;
}
.subscribe-button:active{
    opacity: 0.5;
}
.join-button {
    background-color: white;
    border-color: rgb(53, 124, 201);
    border-style: solid;
    border-width: 1px;
    color: rgb(53, 124, 201);
    height: 30px;
    width: 50px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color, 0.15s, color, 0.15s;
}
.join-button:hover{
    background-color: rgb(53, 124, 201);
    color: white;
}
.join-button:active{
    opacity: 0.7;
}
.tweet-button {
    background-color: rgb(49, 107, 231);
    border-color: rgb(49, 107, 231);
    border-style: solid;
    border-width: 1px;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 100px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: box-shadow 0.15s;
}
.tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.uber_button {
    background-color: black;
    color: white;
    border-color: black;
    border-style: solid;
    height: 30px;
    width: 100px;
    margin-right: 8px;
    cursor: pointer;
    transition: opacity, 0.15s;
}
.uber_button:hover{
    opacity:0.7;
}
.amazon_button {
    background-color: rgb(255, 213, 0);
    color: black;
    border-color: rgb(255, 213, 0);
    border-style: solid;
    height: 30px;
    width: 150px;
    border-radius: 15px;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color,0.15s,border-color,0.15s,opacity, 0.15s;
}
.amazon_button:hover{
    background-color: rgb(214, 179, 4);
    border-color: rgb(214, 179, 4);
}
.amazon_button:active{
    opacity:0.5;
}
.github_button {
    background-color: rgb(46, 146, 79);
    color: white;
    border-color: rgb(46, 146, 79);
    border-style: solid;
    height: 30px;
    width: 100px;
    margin-right: 8px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow, 0.15s;
}
.github_button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.bootstrap1 {
    background-color: rgb(121, 82, 179);
    color: white;
    border-color: rgb(121, 82, 179);
    border-style: solid;
    height: 30px;
    width: 100px;
    margin-right: 8px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}
.bootstrap1:hover{
    background-color:rgb(79, 51, 122);
    border-color:rgb(79, 51, 122);
}
.bootstrap2 {
    background-color: white;
    color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
    border-style: solid;
    height: 30px;
    width: 100px;
    margin-right: 8px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color, 0.15s, color, 0.15s;
}
.bootstrap2:hover{
    background-color: rgb(108, 117, 125);;
    color: white;
}
.linkedin1 {
    background-color: rgb(10, 102, 194);
    color: rgb(255, 255, 255);
    border-color: rgb(10, 102, 194);
    border-style: solid;
    height: 30px;
    width: 230px;
    margin-right: 8px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color, 0.15s, border-color, 0.15s;
}
.linkedin1:hover{
    background-color: rgb(10, 38, 194);
    border-color: rgb(10, 38, 194);
}
.linkedin2 {
    background-color: rgb(255, 255, 255);
    color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-style: solid;
    height: 30px;
    width: 80px;
    margin-right: 8px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color, 0.15s, border-width, 0.15s;
}
.linkedin2:hover{
    background-color: rgba(10, 102, 194, 0.479);;
    border-width:2px;
}
.buy_now {
    background-color: rgb(255, 164, 28);
    color: black;
    border-color: rgb(255, 164, 28);
    border-style: solid;
    height: 30px;
    width: 150px;
    border-radius: 15px;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color, 0.15s, border-color, 0.15s, opacity, 0.15s;
} 
.buy_now:hover{
    background-color: rgb(194, 116, 0);
    border-color: rgb(194, 116, 0);
}
.buy_now:active{
    opacity: 0.5;
}
.amazon_link {
    color : rgb(0,113,133);
}
.amazon_link:hover{
    color: orange;
}
.ShoeName {
    font-size:x-large;
    font-weight: bold;
}
.price {
    color : rgb(0, 118, 0);
}