.notes{
    font-size: 12px;
    border: solid;
    width: 500px;
    padding-left: 10px;
}
p{
    font-family: Arial;
}
.facebook_profile{
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 0 10px rgb(197, 197, 197);
    margin-right: 10px;
    vertical-align: top;
}
.pic{
    width:190px;
    height:250px;
    object-fit: cover;
    object-position: center;
}
.name10d{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    margin-bottom:6px;
}
.mutualPic{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    object-fit: cover;
    object-position: center;
    border-radius: 200%;
    margin-right: 0px;
}
.mutualFriends10d{
    color: grey;
    padding-left: 5px;
    padding-right: 10px;
    margin-top:2px;
    margin-bottom:6px;
    display: inline-block;
}
.addFriend10d{
    margin-left: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top:8px;
    padding-bottom:8px;
    border-style: none;
    border-radius: 4px;
    margin-top:10px;
    margin-bottom:6px;
    color: white;
    background: rgb(18, 97, 243);
    display: block;
    cursor: pointer;
}